
.employees {
    background: var(--secondary-wight-color); 
}

.employees__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.employees__list {
    display: flex;
}

.employees__list .user + .user {
    margin-left: 30px;
}

.employees__list .user {
    max-width: 270px;
    text-align: center;

    background: #FFFFFF;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.social {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    
    margin-top: 16px;
    margin-bottom: 30px;
}

.employees__list .social__item + .social__item {
    margin-left: 10px;
}

.a__link:hover,
.a__link:focus {
    background-color: #2196F3;
    border-radius: 50%;
    color: #ffffff;
}

.a__link {
    display: block;
    border-radius: 50%;
    background-color: #ffffff;
    color: #AFB1B8;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.social__link {
    fill: currentColor;
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
}

.user__name {
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--title-text-color)
}

.user__workname {
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
