
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;
    }
}



.logo__first {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.footer__logo {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--primary-wight-color);
}


.footer-subscribe {
    margin-left: auto;
}